@font-face {
    font-family: 'Sweet Bread';
    src: url('./assets/fonts/Sweet Bread.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sweet Heart';
    src: url('./assets/fonts/SweetHeartDisplay.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sweet Bread', sans-serif;
    border: none;
    outline: none;
    color:  rgb(46, 46, 49);
}

body {
    background: #000000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    place-items: center;
    overflow: hidden;

    background-color: #edede9;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #edede9;
    z-index: -1;
}

h1 {
    font-family: 'Sweet Heart', sans-serif;
    text-transform: uppercase;
    color: rgb(46, 46, 49);
    font-size: clamp(100px, 15vw, 110px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.container p {
    font-size: clamp(16px, 2vw, 30px);
}


h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 59px;
    border-top: #000000 solid 1px;
    width: 80%;
}

.card-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card-name h3 {
    text-transform: uppercase;
    font-size: clamp(20px, 2vw, 30px);
    font-family: 'Sweet Bread', sans-serif;
    color: rgb(61, 61, 61);
    text-align: center;
}

.card-name span {
    font-size: clamp(25px, 2vw, 30px);
    font-family: 'Sweet Bread', sans-serif;
    color: rgb(61, 61, 61);
    text-align: center;
}

.card-name p {
    font-size: clamp(20px, 2vw, 30px);
    font-family: 'Sweet Bread', sans-serif;
    color: rgb(61, 61, 61);
    
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: clamp(16px, 2vw,30px);
}


.container form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 25px;
}

.container form input {
    width: 60%;
    height: 40px;
    padding: 1rem;
    border: 1px solid #e2e2e2;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Sweet Bread', sans-serif;
    border-radius:  5px 0px 0px 5px;

}

.container form button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(88, 169, 240);
    color: #f1f1f1;
    padding: 1rem;
    cursor: pointer;
    border-radius: 2px;
    transition: .2s ease-in-out;
    border-radius:  0px 5px 5px 0px;
    height: 40px;
    font-family: 'Sweet Bread', sans-serif;
    font-weight: 600;
    font-size: clamp(14px, 0.5vw, 30px);
    text-transform: uppercase;
}

.container form button:hover {
    background: rgb(90, 141, 245);
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 250px;

    margin-bottom: 35px;
}

.card-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    font-weight: 600;
    width: 50%;
}

.card-temp span, .card-temp p {

    font-size: clamp(25px, 6vw, 40px); 
    font-family: 'Sweet Bread', sans-serif;
}

.weekPrevision {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 55px;
}

.previsionDay{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 60px;
    height: 180px;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 10px;
    font-size: clamp(10px, 3vw, 15px);
}

.previsionDay p {
    font-size: clamp(10px, 3vw, 20px);
}

.previsionDay p:first-child {
    color: rgb(87, 87, 185);
}

.previsionDay p:last-child {
    color: rgb(218, 57, 57);
}

.previsionDay img {
    width: 50px;
    height: 50px;
    font-size: clamp(10px, 3vw, 20px);
}

.weekInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    font-size: clamp(10px, 3vw, 15px);
}

.error-message {
    color: red;
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
    font-weight: 700;
  }

  .erreur-meteo {
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 700;
    color: red;
  }
 

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #000000 #000000 transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-bottom: auto;
}

.loader::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted;
    border-color: transparent rgb(0, 0, 0) rgb(0, 0, 0);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack .5s lienar infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

